.input__group {
    position: relative;
    margin-bottom: 20px;
}

.input__label {
    position: absolute;
    top: 0;
    font-size: 1rem;
    color: $color-white;
    font-weight: bold;
}

.input__input {
    max-width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.00) 0%,
        rgba(255, 255, 255, 0.10) 100%
    ),
        rgba(39, 41, 48, 0.40);
    border: none;
    padding: 12px 12px;
    color: $color-white;
    cursor: pointer;
    width: 100%;
}

.input__label + .input__input {
    margin-top: 30px;
}

.input__input:hover,
.input__input:active,
.input__input:focus {
    box-shadow: none;
}

input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
}
